<!-- VARIABLES: p_titulo ; p_subtitulo  -->

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= p_titulo %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= p_subtitulo %></h6>

  </div>
</div>