<div class="row mt-5">
  <h2><%= "Hoteles en #{@ciudad_encontrada.nombre}" %></h2>
  <div class="row mt-3">
    <% @ciudad_encontrada.hoteles.each do |hotel| %>
      <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= hotel.nombre %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= "Habitaciones: #{hotel.habitaciones.count}" %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>